<div class="nav" id="nav">
 <ul class="nav">
  {% for item in data["nav"] %}
   <li class="nav">
    <a class="nav" href="{{ site.baseurl}}{{ item.url }}">{{ item.name }}</a>
   </li>
  {% endfor %}
  <li class="nav">
   <a class="nav" href="javascript:void(0);" onclick="closeNav('nav');">
    {{ site.closingText }}
   </a>
  </li>
 </ul>
</div>