<!DOCTYPE html>
<html>
 {% include 'head' %}
 <body>
  {% include 'nav' %}
  {% include 'header' %}
  <div class="content">
   {% include 'spacer' %}
   <h2 class="page_title">{{ page.title }}</h2>
   <img src="{{ page.productImage }}"/>
   {{ page.content }}
   {% include 'spacer' %}
  </div>
  {% include 'footer' %}
  {% include 'scripts' %}
 </body>
</html>